<div>
    <div class="nav">
        <h1>Ganesh Footwear</h1>
        <div>
            <a href="#">Home</a>
            <a href="#">products</a>
            <a href="#">contact</a>
            <a href="#">Help</a>
    </div>
</div>
<div class="main">
    <div>
        <h2>Welcome</h2>
<p>So do we, Bette! The right footwear has the power to make you feel confident, empowered and unstoppable. As seen in The Telegraph, our bespoke shoes have been awarded five-stars for both comfort and quality. We handcraft each pair to fit every woman’s unique needs and shape, without ever having to compromise on style!</p>
    </div>
</div>
</div>